@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

:root{
    --softorange: hsl(35, 77%, 62%);
    --softred: hsl(5, 85%, 63%);
    --offwhite: hsl(36, 100%, 99%);
    --grayishblue: hsl(233, 8%, 79%);
    --darkgrayishblue: hsl(236, 13%, 42%);
    --verydarkblue: hsl(240, 100%, 5%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    outline: none;
}

body{
    padding: 0 3rem;
    width: 100%;
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul a{
    color: var(--darkgrayishblue);
    margin: 0 2rem;
    display: block;
    cursor: pointer;
}

nav ul a:hover{
    color: var(--softred);
}

.container-up{
    padding: 2rem 0;
    display: flex;
}

.left-side{
    width: 60%;
}

.image{
    width: 90%;
}

.image img{
    width: 100%;
}

.left-text{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
}

.left-text h1{
    color: var(--verydarkblue);
    font-size: 3rem;
}

.items{
    width: 280px;
}

.items p{
    color: var(--verydarkblue);
    font-size: .8rem;
    line-height: 1.5;
    padding: 0 0 2rem 0;
}

.btn{
    width: 150px;
    border: none;
    background-color: var(--softred);
    color: white;
    padding: .5rem 1rem;
    border-radius: .2rem;
}

.btn:hover{
    background-color: var(--verydarkblue);
}

.right-side{
    width: 40%;
}

.right-container{
    background-color: var(--verydarkblue);
    color: white;
    height: 430px;
    padding: 0 2rem;
}

.right-container h2{
    padding: 2rem 0;
    color: var(--softorange);
    font-size: 2rem;
    font-weight: 500;
}

.card{
    margin-bottom: 2rem;
}

.card a{
    color: white;
    font-weight: 700;
}

.card a:hover{
    color: var(--softorange);
}

.card p{
    color: var(--grayishblue);
    padding: 1rem 0;
}

.border{
    border-bottom: 1px solid hsl(36, 100%, 99%, 0.5);
}

.down-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 0;
}

.news{
    display: flex;
    gap: 1rem;
}

.img{
    width: 50%;
}

.img img{
    width: 100%;
}

.text{
    display: flex;
    flex-direction: column;
}

.text span{
    color: var(--grayishblue);
    font-weight: 700;
    font-size: 2.5rem;
}

.text a{
    color: var(--verydarkblue);
    font-weight: 700;
    padding: .5rem 0;
}

.text a:hover{
    color: var(--softred);
}

.text p{
    color: var(--darkgrayishblue);
}