@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

:root{
    --softorange: hsl(35, 77%, 62%);
    --softred: hsl(5, 85%, 63%);
    --offwhite: hsl(36, 100%, 99%);
    --grayishblue: hsl(233, 8%, 79%);
    --darkgrayishblue: hsl(236, 13%, 42%);
    --verydarkblue: hsl(240, 100%, 5%);
}

*{
   padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none; 
}

body{
    max-width: 700px;
    padding: 2rem;
    width: 100%;
    background-color: var(--offwhite);
}

.header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: none;
}

.up{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
}

.image{
    width: 100%;
}

.image img{
    width: 100%;
}

.left-text{
    padding: 1rem 0;
}

.left-text h1{
    font-weight: 800;
    color: var(--verydarkblue);
    font-size: 3.2rem;
}

.items p{
    color: var(--verydarkblue);
    padding: 1rem 0;
    line-height: 1.3;
    font-size: 1.05rem;
}

.btn{
    width: 150px;
    border: none;
    background-color: var(--softred);
    padding: .5rem 1rem;
    color: white;
    border-radius: .2rem;
    cursor: pointer;
    letter-spacing: 2px;
}

.btn:hover{
    background-color: var(--verydarkblue);
}

.right{
    padding: 2rem 0;
}

.container-right{
    background-color: var(--verydarkblue);
    color: white;
    padding: 2rem 1rem;
}

.container-right h1{
    padding: 1rem 0;
    color: var(--softorange);
    font-size: 3rem;
    font-weight: 600;
}

.card{
    margin-bottom: 2rem;
}

.card a{
    font-weight: 700;
    color: white;
}

.card a:hover{
    color: var(--softorange);
}

.card p{
    color: var(--grayishblue);
    padding: 1rem 0;
    font-size: 1.1rem;
}

.border{
    border-bottom: 1px solid  hsl(36, 100%, 99%, 0.5);
}

.news{
    display: flex;
    margin-bottom: 2rem;
}

.img-news{
    width: 50%;
}

.img-news img{
    width: 120px;
}


.text{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.text span{
    color: var(--grayishblue);
    font-weight: 700;
    font-size: 3rem;
}

.text a{
    color: var(--verydarkblue);
    font-weight: 700;
    padding: 1rem 0;
}

.text a:hover{
    color: var(--softred);
}

.text p{
    color: var(--darkgrayishblue);
    width: 230px;
}

footer{
    text-align: center;
    color: var(--verydarkblue);
}

footer a{
    color: var(--darkgrayishblue);
}

footer a:hover{
    font-weight: 800;
}

@media (min-width: 800px){
    body{
        max-width: 1440px;
    }
    .menu{
        display: none;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul{
        display: flex;
        align-items: center;
    }

    nav ul a{
        color: var(--darkgrayishblue);
        margin: 0 2rem;
        display: block;
        cursor: pointer;
    }

    nav ul a:hover{
        color: var(--softred);
    }

    .container-up{
        display: flex;
    }
}