@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

:root{
    --softorange: hsl(35, 77%, 62%);
    --softred: hsl(5, 85%, 63%);
    --offwhite: hsl(36, 100%, 99%);
    --grayishblue: hsl(233, 8%, 79%);
    --darkgrayishblue: hsl(236, 13%, 42%);
    --verydarkblue: hsl(240, 100%, 5%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}