@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800&display=swap');

:root{
    --softorange: hsl(35, 77%, 62%);
    --softred: hsl(5, 85%, 63%);
    --offwhite: hsl(36, 100%, 99%);
    --grayishblue: hsl(233, 8%, 79%);
    --darkgrayishblue: hsl(236, 13%, 42%);
    --verydarkblue: hsl(240, 100%, 5%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    outline: none;
}

body{
    padding: 0 4rem;
}

.container{
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0;
}



header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
}

.nav-header .ul-header{
    display: flex;
    align-items: center;
}

.nav-header .ul-header a{
    color: var(--darkgrayishblue);
    margin: 0 1.5rem;
    display: block;
    cursor: pointer;
}

.nav-header .ul-header a:hover{
    color: var(--softred);
}

.the-bright{
    display: flex;
    align-items: center;
    padding: 2rem 0;
}

.illustration{
    width: 90%;
}

.illustration img{
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
    align-items: center;
}

.grid h1{
    font-size: 3.8rem;
    color: var(--verydarkblue);
}

.items{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 300px;
}

.items p{
    color: var(--darkgrayishblue);
    line-height: 1.5;
}

.btn{
    background-color: var(--softred);
    color: white;
    padding: .8rem 1rem;
    border: none;
    width: 200px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: .4em;
}

.btn:hover{
    background-color: var(--verydarkblue);
}

.new-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/*
.items{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 300px;
}